
.div{
  
 background-color: red ;
 padding:20px;
 color:black;
 border: 2px black;   
 margin: 20px;
 

}


.div2{
  
    background-color: orange ;
    padding:20px;
    color:black;
    border: 2px black;   
    margin: 20px;
    
   
   }
   




