
*{
    margin: 0;
    padding: 0;

}

body{

    background-color:rgb(73, 72, 72);

}



.calculadora{

    background-color:darkgrey;
    position: absolute;
    top:10%;
    right: 20%;
    border-radius: 15px;
    padding: 20px;
}

.botao{

    width: 47px;
    height: 50px;
    font-size: 25px;
    
}

.botaoGrande{
 
    width: 100px;
    height: 50px;
    font-size: 25px;
}

button{

    background-color: whitesmoke  ;
    color: black;
    border-color: aliceblue;
    font-weight:bold ;
    height: 40px;
    width: 40px;
    font-size: 15pt;
    
    }
    
    button:hover{
    
        filter:drop-shadow(2px 2px 2px #797c75) ;
    }


#tela{

    background-color: whitesmoke  ;
    border-color: gray ;
    padding-left: 20px ;
    padding-right: 20px;
    filter:drop-shadow( 1px 1px 1px #8d919e );
    color:black;
    height: 50px;
    width: 260px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    
    
    }

    

